<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		.red{
			color:red;
		}
	</style>
</head>
<body id="example">
	<!-- 显示为字符串 -->
	<h1 class="red">{{{a}}}</h1>
	<span>{{num+1}}</span>
	<span>{{ok?'Yes':'no'}}</span>
	<span>{{msg.split(' ').reverse().join('')}}</span>
	<input type="text" v-model="a">
	<img v-bind:src="a" alt="">
	<div>
		b = {{b}},c={{c}}
	</div>
	<!-- v-if不符合不渲染元素  v-show会渲染 它是通过display来控制元素显示隐藏-->
	<div class="red" v-show="!textValue">输入框不能为空</div>
	<div class="red" v-if="!textValue">输入框不能为空</div>
	<textarea cols="30" rows="10" v-model="textValue"></textarea>
	<span>{{textValue}}</span>
	<script src="vue.js"></script>
	<script>
		var data = {
				a:"me.jpg",
				b:1,
				red:'red',
				num:1,
				ok:false,
				msg:"hello xuan"
			};
		var vm = new Vue({
			el:"#example",
			data:data,
			computed:{//计算属性
				c:function(){
					return this.b + 1;
				}
			}
		});
		/*console.log(vm.a === data.a);
		vm.a = 2;
		console.log(data.a);
		data.a = 3;
		console.log(vm.a);*/
	</script>
</body>
</html>